
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 09/05/2022, 2:28:05 PM
    Author     : tanya
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;600&display=swap');



.loggedInMenu {
    font-family: "Poppins", sans-serif;
    width: 15%;
    margin-left: 85%;
    margin-right: 0;
    display: flex;
    justify-content: space-evenly;
    
}

::after { 
    background-color: #8EC5FC;
    background-image: linear-gradient(192deg, #4e85bb 0%, #8539cc 100%);
}
html {
    background-color: #8EC5FC;
    background-image: linear-gradient(192deg, #4e85bb 0%, #8539cc 100%);
    height: 100%;
    margin: 0;
}

body{
    margin: 50px;
    height: 100%;
    font-family: "Poppins", sans-serif;
   
    
}

h1 { /* only used for top of page */ 
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-style: normal; 
    color: white;
   
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: lighter;
   /* font-style: italic; -- unsure about this */
}

.infoTable {
    font-family: "Poppins", sans-serif;
    background-color: #eff7ed;
    padding: 40px;
    width: 95%;
    border-radius: 20px;
    align-self: center;
}

h3.infoTableHeader {
    margin: 0;
    justify-content: center;
    text-align: left;
    color: black;
}

.shipDetails {
    margin: 0;
    text-align: left;
    color: black;
    font-size: 12px; 
    font-weight: light;
    
}

.buttons {
    display: flex; 
    justify-content: space-between;
    margin-top: 15px;
    
   
}

.buttonContainer {
    width: 90%;
    display: flex;
    justify-content: center;
}

.updateButton {
    background-color: #4154b4;
    border: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    width: 40%;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    border-color: black;
}

.updateButton:hover {
    background-color: #202d6c;
}

.deleteButton {
    background-color: #b44141;
    border: 0;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    width: 49%;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.deleteButton:hover {
    background-color: #951515;
}


.shipment {
    display: flex;
    align-content: center;
    justify-content: center;   
    height: 75%;
    flex-wrap: nowrap;
    align-items: center;
    
}

.shipmentcontents {
    font-family: "Poppins", sans-serif;
    background-color: #eff7ed;
    padding: 40px;
    width: 75%;
    border-radius: 20px;
    align-self: center;
    margin: 5%;
    
}

.shipmentForm {
    display: inline-grid;
    width: 100%;
}

.shipmentFormElement {
    display: inline-block;
    justify-content: center;
    

}

#title {
    color: black;
    font-size: 20px;
}

option {
    font-family: "Poppins", sans-serif;
    display: inline-grid;
    width: 100%;
    border: 2px solid rgb(62, 60, 60);
    border-radius: 5px;
    width: 93%;
    margin: 10px 0;
}

select {
    font-family: "Poppins", sans-serif;
    display: inline-grid;
    width: 100%;
    border: 2px solid rgb(62, 60, 60);
    border-radius: 5px;
    width: 93%;
    margin: 10px 0;
}